/* start global rules  */
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.container {
    padding: 0px ;
    margin: 0 auto;
} 
/* xxLarge  */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
/* xLarge  */
@media (max-width: 1400px) {
    .container {
        max-width: 1170px;
    }
}
/* Large */
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
/* medium  */
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}
/* small */
@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
}
@media (max-width: 576px) {
    .container {
        padding-inline: 15px;
    }
}
body {
    font-family: "Open Sans", sans-serif;
}
h1, h2 {
    font-family: "Amatic SC", sans-serif;
}
/* end global rules */
/* start heading  */
.heading {
    text-align: center;
}
.heading > span {
    font-size: 14px;
    color: var(--text-altLight-color);
    margin-bottom: 10px;
}
.heading h2 {
    font-size: 50px;
    color: var(--text-light-color);
    margin-bottom: 20px;
    font-weight: normal;
}
.heading h2 span {
    color: var(--main-Lightcolor);
}
/* end heading  */
/* start global variables */
:root {
    --mainTransation: 0.4s ease-in-out;
    --mainPadding: 80px;
    --sectionBG: #ececec;
    --text-light-color: #37373f;
    --text-altLight-color: #7f7f90;
    --main-Lightcolor : #ce1212;
    --alt-Lightcolor : #E61414;
    --Bg-Light-mainColor: #fff;
    --Bg-Light-altColor: #EEEEEE;
    /* dark 
    --text-dark-color: #fff;
    --text-altdark-color: #9f9f9f;
    --main-Darkcolor: #c17e1f;
    --alt-Darkcolor: #D78C23;
    --Bg-Dark-mainColor:#171717;
    --Bg-Dark-altColor:#252525; */
}
/* end global variables */
/* start header section  */
#head {
    background-color: var(--Bg-Light-mainColor);
    width: 100%;
    padding-block: 25px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    position: fixed;
    z-index: 3;
}
#head .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#head .container .logo a {
    color: var(--text-light-color);
    font-size: 30px;
    position: relative;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) {
    #head {
        padding-block: 20px;
    }
    #head .container .logo a {
        font-size: 25px;
    }
}
#head .container .logo a::after{
    content: ".";
    position: absolute;
    right: -5px;
    bottom: 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-Lightcolor);
}
#head .container nav ul{
    display: flex;
}
#head .container nav ul i{
    display: none;
} 
#head .container .mode a {
    color: var(--text-light-color);
}
#head .container .mode i:last-of-type  {
    margin-left: 10px;
    cursor: pointer;
    display: none;
}
@media (max-width: 992px) {
    #head .container nav ul.links {
        flex-direction: column;
        gap: 30px;
        position: absolute;
        z-index: 10;
        right: -100%;
        top: 0;
        background-color: white;
        width: 350px;
        height: 100vh;
        transition: var(--mainTransation) ;
    }
    #head .container nav ul i {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding:  20px;
        cursor: pointer;
        font-size: 20px;
    }
    #head .container .mode i:last-of-type {
        display: inline-block;
    }
}
@media (max-width: 992px) {
    #head .container nav ul li:first-of-type {
        margin-top: 60px;
    }
}
#head .container nav ul li {
    padding-inline: 15px;
}
#head .container nav li a {
    color: var(--text-altLight-color);;
    position: relative;
    padding-bottom: 5px;
    font-size: 17px;
    transition: var(--mainTransation);
    font-weight: 700;
}
#head .container nav li:not(:first-of-type) a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: var(--main-Lightcolor);
    transition: var(--mainTransation);
    bottom: -2px;
    left: 0;
}
#head .container nav li:not(:first-of-type):hover a {
    color: var(--text-light-color);
}
#head .container nav li:not(:first-of-type):hover a::after {
    width: 100%;
}
#head .container nav li a.active {
    color: var(--text-light-color);
    border-bottom: 2px solid var(--main-Lightcolor);
}
#head .container .mode i {
    font-size: 25px;
}
/* end header section  */
/* start landing-page Section  */
#landing {
    background-color: var(--Bg-Light-altColor);
    width: 100%;
    height: 100vh;
}
#landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#landing .container .caption {
    width: 40%;
}
@media (max-width: 992px) {
    #landing .container .caption {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-block: 15px;
    }
    #landing .container {
        flex-direction: column-reverse;
        justify-content: center;
    }
}
#landing .container .caption h1 {
    font-size: 65px;
    font-weight: 700;
    color: var(--text-light-color);
    margin-bottom: 20px;
}
#landing .container .caption p {
    color: var(--text-altLight-color);
    margin-bottom: 20px;
    line-height: 25px;
}
@media (max-width: 768px) {
    #landing .container .caption h1 {
        font-size: 50px;
    }
    #landing .container .caption p {
        font-size: 15px;
    }
}
#landing .container .buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}
#landing .container .buttons a.book {
    background-color: var(--main-Lightcolor);
    padding: 10px 25px;
    color: white;
    border-radius: 0 20px 20px;
    transition: var(--mainTransation);
}
#landing .container .buttons a.book:hover {
    background-color: var(--alt-Lightcolor);
}
#landing .container .buttons .video {
    display: flex;
    align-items: center;
    gap: 10px;
}
#landing .container .buttons .video a {
    color: var(--text-light-color);
    transition: var(--mainTransation);
}
#landing .container .buttons .video .play{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--Bg-Light-mainColor);
    position: relative;
}
#landing .container .buttons .video i{
    color: var(--text-light-color);
    font-size: 21px;
    cursor: pointer;
    transition: var(--mainTransation);
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
}
#landing .container .buttons .video:hover a,
#landing .container .buttons .video:hover i {
    color: var(--alt-Lightcolor);
}
#landing .container .img-holder {
    width: 40%;
}
@media (max-width: 992px) {
    #landing .container .img-holder {
        width: 60%;
        margin-top: 65px
    }
}
@media (max-width: 768px) {
    #landing .container .img-holder {
        width:70%;
        margin-top: 65px;
        padding-top: 15px;
    }
}
#landing .container .img-holder img {
    max-width: 100%;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
}
#landing .container .img-holder:hover img {
    animation: shakeIt 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shakeIt {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* end landing-page Section  */
/* start chefs section */
#chefs {
    padding-block: var(--mainPadding);
}
/* end chefs section */